html,
body {
  height: 100%;
}
#root {
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem;
  padding: 2rem; */
}

.welcome {
  background-image: url("../../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
@font-face {
  font-family: "longyinshoushu"; /* 重命名字体名 */
  src: url("../../assets/font/1645201229.ttf");
  font-weight: normal;
  font-style: normal;
}
.welcome .title {
  font-family: "longyinshoushu";
  display: flex;
  justify-content: center;
  /* align-content:center; */
  height: 100px;
}
.welcome .title span {
  font-size: 90px;
  line-height: 100px;
}

.menu_box a {
  width: 214px;
  height: 46px;
  text-align: center;
  display: block;
  color: rgb(255, 138, 0);
  cursor: pointer;
  background: url(../../assets/img/btn_bg.png) center 0px no-repeat;
  margin: 10px 0px 10px 45px;
  line-height: 46px;
  text-decoration: none;
}
.menu_box a:hover {
  background: url(../../assets/img/btn_bg.png) center -46px no-repeat;
  color: #ffa433;
}
.stack {
  display: flex;
  justify-content: center;
  /* display: flex; */
}

.menu {
  padding: 30px 0px;
}

.board {
  border-width: 12px;
  border-style: solid;
  border-radius: 6px;
  width: 320px;
  border-image: linear-gradient(135deg, #9c5e1396, #472b0896) 1;
  background-image: url(../../assets//img/bg1.jpg);
  box-shadow: 5px 5px 5px #472b0896;
}
.menu_box {
  padding: 10px;
}

.chessboard {
  background-image: url("../../assets/img/Common_Bg_Main.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.chessboard a.back {
  background: url(../../assets/img/command_btn.png) -182px -76px;
  width: 66px;
  height: 72px;
  /* border: 1px solid black; */
}

.chessboard a.back:hover {
  background: url(../../assets/img/command_btn.png) -0px -152px;
  width: 66px;
  height: 72px;
  /* border: 1px solid black; */
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* CSS */
.button-41 {
  background-color: initial;
  /* background-image: linear-gradient(-180deg, #00d775, #00bd68); */
  background-image: url("../../assets/img/bg2.jpg");
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 20px;
  line-height: 20px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  width: 100px;
  opacity: 1;
}

.button-41:not([disabled]):hover {
  background: #00bd68;
}
.button-41[disabled]{
  background-color: darkgray;
  background-image: none;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.command-line {
  height: 70px;
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.4);
  display: flex;
  vertical-align: middle;
  justify-content: center;
  gap: 24px;
}
.command-line div{
  padding-top: 15px;
}